<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Result</title>
    <style type="text/css">
        body{
            margin: 50px;
            padding: 0;
            font-family: sans-serif;
        }
        table{
            font-size: 18px;
            width: 100%;
            margin: 50px 0 50px 0;
            border: 1px black solid;
            border-collapse: collapse;
        }
        .header {
            background: aqua;
            text-align: left;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .content{
            line-height: 30px;
        }
    </style>
</head>
<body>
<h1>Last records</h1>

<table>
    <tr class="header">
        <th>Id</th>
        <th>Timestamp</th>
        <th>Context</th>
    </tr>
    {{ range . -}}
    <tr class="content">
        <td>{{ .Id }}</td>
        <td>{{ .Date | formatAsDate }}</td>
        <td>{{ .Context }}</td>
    </tr>
    {{ end }}
</table>

</body>
</html>